/* ==== Google font ==== */

@import url('http://fonts.googleapis.com/css?family=Lato:300,400');
* {
    box-sizing: border;
}

body {
    /* background: #6ac0bd; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a:hover, a:focus {
    text-decoration: none;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus, input:focus, a:focus {
    outline: none !important;
    box-shadow: unset !important;
}

.social-circle a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-network a.icoFacebook:hover {
    background-color: #3b5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGit:hover {
    background-color: #829aa8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

input.form-control {
    color: #fff;
    border: solid 1px #000;
    font-size: 14px;
    height: 42px;
    vertical-align: middle;
}

input.form-control:hover,
input.form-control:focus {
    border-color: #fff;
}

input.form-control[type=email] {
    background-color: white;
    color: black;
    opacity: .6;
}

.form-control.btn:focus, .form-control.btn:hover {
    color: #fff;
    background-color: #444;
}

/* Notifications */

.result {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 7px 10px 7px 20px;
    color: #000;
}

.result.success {
    background: #79cf9d;
}

.result.error {
    background: #913c39;
}

.result span {
    margin-left: 10px;
}

.result.error span {
    margin-right: 5px;
}

/* wrapper */

#wrapper {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
}

/* Clouds */

.cloud {
    position: fixed;
}

.cloud.pos1 {
    bottom: 40px;
    left: 20px;
}

.cloud.flipped img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.cloud.pos2 {
    right: 20px;
    bottom: 70px;
}

.cloud.pos2 img {
    width: 100px;
}

.cloud.pos3 {
    bottom: 150px;
    right: 50px;
}

.cloud.pos3 img {
    width: 150px;
}

.cloud.pos4 {
    bottom: 200px;
    left: 120px;
}

.cloud.pos4 img {
    width: 180px;
}

@media only screen and (max-device-width: 480px) {
    .cloud {
        display: none;
    }
}

/* Animations */

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating-4s {
    animation-duration: 4s;
}

.floating-5s {
    animation-duration: 5s;
}

.floating-6s {
    animation-duration: 6s;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}